.social {
    padding-top: 1rem;
}

.social a {
    color: #000;
    margin: 0 1.5rem;
    display: inline-flex;
}

.social img {
    width: 2.75rem;
    height: 2.75rem;
}

.social img:hover {
    opacity: 0.7;
}
