@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	font-weight: bold;
}

.dot-background {
	--dot-bg: white;
	--dot-color: rgba(0, 0, 0, 0.271);
	--dot-size: 1px;
	--dot-space: 8px;
		background:
			linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
			linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
			var(--dot-color);
}