.container {
    width: 816px;
    height: 1056px;
    background-color: #f0efeb;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
}

.container h2 {
    margin: 0;
}

.container h3 {
    margin: 0;
}

.container h4 {
    margin: 0;
}

.left {
    flex: 1;
    background-color: #9a8c98;
    color: whitesmoke;
    text-align: center;
}

.right, .left {
    padding: 1.5rem;
}

.right {
    flex: 2;
}

.pp {
    height: 11rem;
    border-radius: 100%;
}

.item {
    margin: 1.5rem 0;
}

.item > ul > li {
    margin-bottom: 0.15rem;
}

.item__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.item__icon > img {
    height: 2.5rem;
    width: 2.5rem;
}

.item__icon > p {
    margin: 0 0 0.5rem 0;
}

.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item__title {
    margin-bottom: 1.5rem !important;
}

.table__date {
    width: 6rem;
    vertical-align: baseline;
    font-weight: bold;
}

.table__items {
    border-spacing: 0 0.5rem;
}

.item__list__subtitle {
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.3rem;
    display: flex;
    margin-bottom: 0;
}

.item__list__subtitle > span {
    flex: 1;
    text-align: end;
}

.item__list__description {
    margin-top: 0.5rem;
    text-align: justify;
}

@counter-style repeating-emoji {
    system: cyclic;
    symbols: "-";
    suffix: " ";
}

.item__list__done {
    list-style-type: repeating-emoji !important;
    padding: 0.5rem 0 0 1rem !important;
}

.item__list__done > li {
    margin-top: 0.1rem;
}

.item__interests {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item__interests > li {
    text-align: center;
}

.languageSelect {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

@media print {
    .languageSelect {
        display:none !important;
    }
} 
