.container {
    display: flex;
    
}
.containerInfos {
    max-width: 60%;
    font-family: monospace;
    text-align: center;
    margin: 0 auto;
}
.containerTitle {
    font-size: 5rem;
    margin-top: 3.125rem;
}
.containerDescription {
    margin: 2%;
    font-size: 2.5rem;
    font-weight: normal;
}

.wday {
    margin-right: 0.3125rem;
}


/* i {
    font-size: 2.3rem;
}
i:hover {
    color: #595959;
} */
.contrib-legend {
    display: none;
}
.activity-overview-box {
    display: none;
}
#readme {
    padding: 5px;
    margin-top: 40px;
}
